@media (max-width: 640px) {
    .card2 {
        width: 100%;
        height: auto;
      }
    }
  
    @media (min-width: 641px) and (max-width: 1024px) {
    .card2 {
        width: 50%;
        height: auto;
      }
    }
  
    @media (min-width: 1025px) {
    .card2 {
        width: 25%;
        height: auto;
      }
      .cardDetail {
        width: 95%;
        height: auto;
      }
      .cardDetail2 {
        width: 100%;
        max-width: 600px;
        margin: auto;
      }
      
      .cardDetail2 p {
        text-align: center;
        width: 100%;
      }
      
    }